.input{
    background-color: white;
    opacity: 0.5;
    border: 1px solid rgb(2, 61, 2);
    height: 36px;
    @include border-radius(6px);
    margin-top: 15px;
    &.button{
        background-color: rgb(28, 48, 9);
        border: 1px solid rgb(255, 255, 255);
        color: white;
    }
}