.table__list{
    background-color: white;
    @include border-radius(18px);
    thead{
        th{
            border-top: 0px;
            text-align: center;
            padding: 25px;
            @include font-IzmirExtraBold(18px);
            color: rgb(2, 61, 2);
        }
    }
    tbody{
        align-items: center;
        td{
          text-align: center;
            align-items: center;
            padding: 25px;
            @include font-IzmirSemiBold(16px);
            color: rgb(2, 61, 2);
        }
    }
}
.table-image {
    td, th {
      vertical-align: middle;
    }
}